@model OdeToFood.ViewModels.HomePageViewModel
@using OdeToFood.Entities
@using OdeToFood.Controllers

@{
    ViewBag.Title = "Home";
}

<h1>Welcome!</h1>

<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>
                <a href="/home/details/@restaurant.Id">Details</a>
                @Html.ActionLink("View", nameof(HomeController.Details), new { id = restaurant.Id })
            </td>
            <td>
                @Html.ActionLink("Create", nameof(HomeController.Create))
            </td>
            <td>@restaurant.Name</td>
        </tr>
    }
</table>


@section footer {
    <h3>@Model.CurrentMessage</h3>
}
